includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max

    paths:
        - config
        - database
        - resources
        - src
        - tests

    excludePaths:
        - 'output/*'

    treatPhpDocTypesAsCertain: false

    #editorUrl: 'vscode://file/%%file%%:%%line%%'
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    ignoreErrors:
        -
            message: "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.#"
            path: *config/*.php

        # TODO hiding these errors until we can add tests for them
        -
            identifier: trait.unused

